@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

html {
  background-color: #230176;
}

html, body {
  height: 100%;
  max-height: 100%;
}


.zdb-page {
  height: 100%;
}

.links {
  font-size: 50px;
  line-height: 1.1em;
}